<footer class="site-footer h-card">
  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col">
        <div class="footer-horse">{% include svg-horse.html %}</div>
      </div>
      <div class="footer-col">
        <p>{{ site.data.settings.footer_text }}</p>
        <p>Springfield Township, OH 45231</p>
      </div>
      <div class="footer-col text-right">
        <a href="{{ '/admin/' | relative_url }}">Admin Login</a>
      </div>
    </div>
  </div>
</footer>
