<svg style="display: none;" xmlns="http://www.w3.org/2000/svg">
  <symbol id="icon-horseshoe" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
    <path d="M7 11V7a5 5 0 0 1 10 0v4" />
    <path d="M6 16v-2a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1v2" />
    <path d="M5 21v-3a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2v3" />
    <rect x="9" y="16" width="6" height="5" rx="1" />
  </symbol>
  
  <symbol id="icon-split-rail" viewBox="0 0 100 10" preserveAspectRatio="none">
    <path d="M0 2 Q 25 3 50 2 T 100 2 M0 8 Q 25 7 50 8 T 100 8" fill="none" stroke="var(--color-primary)" stroke-width="1.5" stroke-linecap="round" />
  </symbol>
</svg>
